@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #39f;
    color: white;
}
.brand-panel {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
  }
  
  .brand-panel img {
    height: auto;
    max-width: 100%; /* Ensure images are responsive */
  }
  
  @media (max-width: 640px) {
    .brand-panel img {
      width: 20%; /* Adjust as necessary */
    }
  }
  