@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #39f;
    color: white;
}

header {
  transition: background-color 0.4s ease;
}

a {
  transition: color 0.4s ease;
}

button {
  transition: background-color 0.4s ease, color 0.4s ease;
}


::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

body {
  scrollbar-color: #ccc #d4d2d2;
  transition: background-color .1s ease, color .1s ease;
}

body.dark-mode {
  scrollbar-color: #555 #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #ccc; 
}

body.dark-mode ::-webkit-scrollbar-thumb {
  background: #555; 
}
